:root {
  --vp-layout-max-width: 100%;
  --vp-sidebar-bg-color: #ffffff;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #3445fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #3445fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.demo-preview .aside {
  display: none !important;
}

.demo-preview .aside {
  display: none !important;
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .demo-preview .content-container {
    margin: 0 !important;
  }
}
/* 自定义 sidebar 样式 */
.VPSidebar {
  border-right: 1px solid #eaeefb;
}
.VPSidebarItem > .item > .text {
  font-size: 16px;
  font-weight: bold;
}

.VPSidebarItem > .item .link > .text {
  font-size: 14px;
  margin: 2px;
}

.VPSidebarItem.is-link > .item .link > .text {
  font-size: 14px;
  margin: 2px;
}

.VPSidebarItem.is-active > .item .link > .text {
  color: #fff !important;
  background-color: #5892f7;
  border-radius: 7px;
  padding: 4px 5px;
  font-size: 14px;
}

.VPDoc {
  padding: 0 !important;
}

.VPDoc .content {
  padding: 40px !important;
}

.VPDoc.has-aside .container,
.VPDoc.has-aside .container > .content,
.VPDoc.has-aside .container > .content > .content-container {
  max-width: 100% !important;
}

.VPDoc .aside {
  max-width: 350px !important;
}

@media (min-width: 1920px) {
  .VPDoc .aside {
    min-width: 600px !important;
  }
}
